*.log
*.pot
*.pyc
local_settings.py
*.DS_Store
.project
.pydevproject

#################
# Pip Virtualenv
#################
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
